* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { min-height: 100vh; background: hsl(216, 12%, 8%);}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App section {
  height: 400px;
  width: 400px;
  border-radius: 5%;
  background:hsl(213, 19%, 18%);
}